:host {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    width: 400px;

    img {
        height: 300px;
        width: 100%;
        object-fit: contain;
    }

    .price {
        font-weight: 700;
    }
}